<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweeny</title>
</head>
<body>
    <h1 style="text-align: center;color: rgb(255, 202, 43);"> Hai! Welcome to Tweety</h1>
    <br>

    <div class="container" style="text-align: center; margin: 0 auto;">
        <img src="https://w7.pngwing.com/pngs/105/524/png-transparent-tweety-tweety-duck-tweety-mammal-carnivoran-photography-thumbnail.png" alt="" style="width: 200px">
        <br>
        <br>
        <a href="/register"><button type="button" class="btn btn-warning">Register here!</button></a>
        <br>
        <br>
        <a href="/login"><button type="button" class="btn btn-outline-warning">Login</button></a>

    </div>
    <%- include('_link') %>
</body>
</html>