<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body style="background-color:black  ;">

    <h1 style="text-align: center; margin-top: 80px; color: rgb(255, 202, 43);">Let's Sign in Tweenies!</h1>
    <br>
    <div class="container" style="text-align: center; color: red;">
      <% if (error) { %>
        <%= `Sorry, ${error}`  %>
       <% } %>
    </div>
    <br>
    <br>
    
    <div class="container" style="margin: 0 auto; width: 500px; color: rgb(255, 202, 43); font-size: 18px; font-weight: 600px;">
        <form method="post" action="/login">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="form-text" style="color: rgb(255, 202, 43);">We'll never share your email with anyone else.</div>
            </div>
            <br>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <br>
            <button type="submit" class="btn btn-warning">Login</button>
          </form>
    </div>

    <div class="container" style="color: rgb(255, 202, 43); text-align: center; margin: 0 auto;">
      <a href="/register" style="color: rgb(255, 202, 43);"">Sign up</a>
    </div>
    
    <%- include('_link') %>
</body>
</html>